{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

    <h3>Full Length Mock Test</h3>

    <!-- AFTER SUBMIT -->
    {% if submitted %}
        <div class="alert alert-success mt-4">
            <strong>Result:</strong> You scored {{ score }} out of {{ total }}
        </div>

        <div class="mt-4 d-flex gap-3">
    <!-- Next Mock -->
    <a href="{% url 'mock_test' %}" class="btn btn-danger">
        Proceed to Next Mock
    </a>

    <!-- Back to Dashboard -->
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">
        Back to Dashboard
    </a>
</div>


    <!-- BEFORE SUBMIT -->
    {% else %}
        <div class="alert alert-warning mt-3">
            ⏱ Time Remaining: 15 minutes
        </div>

        <form method="post">
            {% csrf_token %}

            {% for q in questions %}
                <div class="card p-3 mb-4">
                    <strong>
                        Q{{ forloop.counter }}. {{ q.question }}
                    </strong>

                    <div class="mt-3">

                        <label class="option-row">
                            <input type="radio" name="q{{ q.id }}" value="a">
                            <span>{{ q.option_a }}</span>
                        </label>

                        <label class="option-row">
                            <input type="radio" name="q{{ q.id }}" value="b">
                            <span>{{ q.option_b }}</span>
                        </label>

                        <label class="option-row">
                            <input type="radio" name="q{{ q.id }}" value="c">
                            <span>{{ q.option_c }}</span>
                        </label>

                        <label class="option-row">
                            <input type="radio" name="q{{ q.id }}" value="d">
                            <span>{{ q.option_d }}</span>
                        </label>

                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-danger">
                Submit Mock Test
            </button>
        </form>
    {% endif %}

</div>

{% endblock %}
